<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato | MenteHiTech</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>MenteHiTech</h1>
    <p>Entre em contato com a gente</p>
</header>

<main>
    <section>
        <p>Quer falar com a MenteHiTech, tirar dúvidas ou propor uma parceria?</p>

        <ul>
            <li>Email: <a href="instaplayer884@gmail.com">instaplayer884@gmail.com.com</a></li>
            <li>Instagram: <a href="https://instagram.com/" target="_blank">https://www.instagram.com/hitechcompany_?igsh=MWpxOHh4dGMwdHVkdg==</a></li>
        </ul>
    </section>
</main>

<footer>
    <a href="/">← Voltar para Home</a>
</footer>

</body>
</html>
